@font-face {
    font-family: 'norsebold';
    src: url('NorseBold/norse-bold-webfont.woff2') format('woff2'),
         url('NorseBold/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.odin p {
    font-family: 'norsebold', sans-serif;
    font-size: 60px;
  }

.parent-container {
    display: flex; 
    width: 100%; 
}

.img-container {
    position: relative; 
    flex: 1 1 30%; 
}

.img-container img { 
    width: 100%; 
    height: auto; 
}

.img-container .credits {
    color: white;
    position: absolute;
    left: 75px;
    bottom: 50px;
}

.plantdiv, .darkbg {
    position: absolute; 
}

.darkbg {
    /* positioning */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    top: 100px; 


    width: 375px; 
    height: 150px; 
    background-color: hsla(0, 0%, 0%, 0.5); 
}

.darkbg img {
    width: 100px; 
    height: 100px; 
}

.darkbg p {
    color: white;
}

.info-container {
    flex: 1 1 70%; 
    display: flex;
    flex-direction: column;
}

.pair1 {
    display: flex; 
}

.pair1 label {
    display: flex; 
    flex-direction: column; 
}

.pair1 label:nth-child(1) {
    margin-right: 100px; 
}

.pair1 input {
    transition: all 0.3s ease-in-out;
  }
  
  .pair1 input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  }

.pair2 {
    display: flex; 
}

.pair2 label {
    display: flex; 
    flex-direction: column; 
}

.pair2 label:nth-child(1) {
    margin-right: 100px; 
}

.pair2 input {
    transition: all 0.3s ease-in-out;
  }
  
  .pair2 input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  }

.pair3 {
    display: flex; 
}

.pair3 label {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 20px; 
}

.pair3 label:nth-child(1) {
    margin-right: 100px;
}

.pair3 input {
    transition: all 0.3s ease-in-out;
  }
  
  .pair3 input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  }

.top-paragraph {
    background-color: #F5F5F5;
    padding: 75px 25px 25px;
}

.top-paragraph p {
    font-weight: bold;
}

.bottom-paragraph {
    background-color: #F5F5F5;
    padding: 25px 25px 45px;
}

fieldset {
    border: 2px solid white;
}

fieldset p {
    font-weight: bold;
}

/* button style */
#createAccountButton {
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: #596D48;
}

.login-link {
    color: #596D48;
    text-decoration: none; 
  }
  
.login-link:hover {
    text-decoration: underline;
  }

/* validation and error handling */
.error {
    border: 2px solid red;
}